.wrapper {
    width: 100vw;
    align-items: center;
    height: 100vh;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.active {
    color: blue !important;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;

}

